<mat-card>
  <mat-card-header>
    <mat-card-title><a href="https://agify.io/">Agify.io</a></mat-card-title>
    <mat-card-subtitle>
      Estimate the age of a person based on a first name.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>https://api.agify.io?name={{ name }}</p>

    <mat-form-field>
      <mat-label>Vorname</mat-label>
      <input matInput [(ngModel)]="name" (keydown)="onKeyPressed($event)" (keydown.enter)="fetchAge(name)">
    </mat-form-field>
    <button mat-icon-button [disabled]="!name" (click)="fetchAge(name)">
      <mat-icon>search</mat-icon>
    </button>

    <mat-form-field>
      <input
        matInput
        type="number"
        [(ngModel)]="age"
        [disabled]="!name"
        (keydown.enter)="age && setAge(name, age)">
      <mat-label>Alter</mat-label>
    </mat-form-field>

    <button mat-icon-button [disabled]="!name || !age" (click)="setAge(name, age)">
      <mat-icon>send</mat-icon>
    </button>

    @if (age) {
      <div>Alter: {{ age }}</div>
    }
  </mat-card-content>
</mat-card>
